/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;

   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   /* background-image: url(http://i62.tinypic.com/15xvbd5.png); */
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #E8E8E8;
   color: #555;
   font-size: inherit;
   /* margin: 20px; */
   overflow: hidden;
   padding: 4px 8px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: inherit;
   border-radius: 4px;
}
