table {
    border-collapse: collapse;
    /* outline: 1px solid #DCDCDC; */
}

th, td {
    padding: 3px;
    border: 1px solid #F5F5F5;
}

div.heading {
    padding: 5px;
}

.top-buffer { margin-top:2px; }

input[type=number]
{
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  padding: 3px;
  width: 48px;
}

textarea {
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  width: 100%;
}
